$darkblue: hsl(233, 47%, 7%);
$darkdesatblue: hsl(244, 38%, 16%);
$softviolet: hsl(277, 64%, 61%);
$overlay-violet: hsla(277deg, 100%, 50%, 0.42);
$overlay-light-violet: hsla(293deg, 42%, 35%, 0.24);

$white: hsl(0, 0%, 100%);
$maintrasparentwhite: hsla(0, 0%, 100%, 0.75);
$headingtransparentwhite: hsla(0, 0%, 100%, 0.6);

